.form-wrapper {
  width: 300px;
}

.outlined-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  border: 1px solid #fff;
  background-color: #0c0c0c;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.large {
  padding: 24px;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
}

.small {
  padding: 12px;
  cursor: pointer;
  transition:cubic-bezier(1, 0, 0, 1);
  transition-duration: 200ms;
}

.small:hover {
  background-color: rgba(255,255,255,.1);
}

.buttonSvg {
  margin: auto;
  width: 24px;
}

.mint-button {
  display: flex;
  margin-top: 12px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  border: #0f2fd8 1px solid;
  background-color: #0f2fd8;
  color: #fff;
  width: 100%;
  font-size: 1.4em;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition:cubic-bezier(1, 0, 0, 1);
  transition-duration: 200ms;
}

.mint-button:hover {
  background-color: #0b28b6;
}